{
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 120,
    "semi": true,
    "singleQuote": false,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore"
}
